{% extends 'base.html' %}

{% block title %}
    Создать заказ
{% endblock %}

{% block name %}
    Создать заказ
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'app:order_list' %}">История заказов</a></li>
            <li class="breadcrumb-item active">Создать</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="m-auto p-1" style="max-width: 720px; width: 90%">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Клиент</label>
                <select name="client" id="" class="form-select">
                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.get_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Товар</label>
                <select name="product" id="" class="form-select">
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }} - (на складе: {{ product.quantity }},
                            цена: {{ product.price }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Количество</label>
                <input type="number" class="form-control" name="quantity" placeholder="Кол-во" value="1">
            </div>
            <div class="w-100">
                <button type="submit" class="btn btn-success m-auto d-block" style="max-width: 240px; width: 90%">
                    Создать
                </button>
            </div>
        </form>
    </div>
{% endblock %}