{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div style="background-color: #222e3c; border-radius: 100%; padding: 20px; width: fit-content; display:block; margin: auto">
        <img src="{% static 'app/img/logo.png' %}" alt="" height="150px">
    </div>
    <div class="raleway-regular" style="max-width: 1080px; width: 90%; display: block; margin: 30px auto auto;">
        <p class="text-center">
            Добро пожаловать на наш сайт! Здесь вы сможете легко управлять своими продажами и клиентами. Наши
            инструменты
            помогут вам следить за продажами, хранить информацию о клиентах и улучшать ваш бизнес.
            Возможности нашего сервиса:
        </p>
        <hr>
        <div>
            Мониторинг продаж:
            <ul>
                <li>
                    Отслеживайте продажи в реальном времени.
                </li>
                <li>
                    Анализируйте результаты и получайте отчеты по продажам.
                </li>
            </ul>
        </div>
        <div>
            Управление базой данных клиентов:
            <ul>
                <li>
                    Храните всю информацию о клиентах в одном месте.
                </li>
                <li>
                    Легко добавляйте новых клиентов и обновляйте данные о текущих.
                </li>
            </ul>
        </div>
        <div>
            Автоматизация:
            <ul>
                <li>
                    Настройте автоматические уведомления и напоминания.
                </li>
                <li>
                    Интеграция с почтовыми сервисами для отправки писем и уведомлений.
                </li>
            </ul>
        </div>
        <div>
            Аналитика и отчеты:
            <ul>
                <li>
                    Получайте подробные отчеты о продажах и клиентах.

                </li>
                <li>
                    Визуализация данных для удобного анализа.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}