{% extends 'base.html' %}

{% block title %}
    {{ user.get_full_name }}
{% endblock %}

{% block name %}
    {{ user.get_full_name }}
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'app:user_list' %}">Пользователи</a></li>
            <li class="breadcrumb-item active">{{ user.get_full_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}